<link href="/client/public/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<!--<link href="/client/public/libs/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet">-->
<link href="/client/public/css/style.css" rel="stylesheet">
<script src="/client/public/libs/jquery/dist/jquery.js"></script>

<script src="/client/public/libs/angular/angular.js"></script>
<script src="/client/public/libs/bootstrap/dist/js/bootstrap.js"></script>
<script src="/client/public/libs/angular-route/angular-route.js"></script>
<script src="/client/public/libs/ng-file-upload/ng-file-upload.js"></script>
<script src="/client/public/libs/ng-file-upload/ng-file-upload-shim.js"></script>
<!--<script src="/client/public/libs/angular-bootstrap/ui-bootstrap.js"></script>-->
<script src="/client/public/libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/client/controllers/app.js"></script>
<script src="/client/controllers/viewControllers.js"></script>
<title>MongoDB</title>