<div class="panel panel-default" ng-controller="addressController">
    <div class="panel-heading">
        Databases Address Detail
    </div>
    <div class="panel-body">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{currentAddress}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="" ng-repeat="address in addressList" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="checkChange(address)">{{address}}</a></li>
            </ul>
            <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>-->
<!---->
            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm">

                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Warning</h4>
                        </div>
                        <div class="modal-body">
                            Are you sure to change the ip address to <span style="color: red">{{tempAddress}}</span>.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="changeAddress()">Yes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>