<div ng-controller="treeController">
    <nav class="navbar navbar-default" >
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    Databases
                </a>
            </div>
            <a class="navbar-brand pull-right" href="" data-toggle="modal" data-target="#addConnectionModal">
                <span class="right">
                    <i class="glyphicon glyphicon-plus"></i>
                </span>
            </a>
        </div>
    </nav>
    <div class="tree well" style="height: 700px;overflow:auto;">
        <ul>
            <li ng-repeat="connection in connectionList" class="parent_li">
                <span title="{{connection.user}}@{{connection.server}}">
                    <em ng-click="redirect(connection.conn_name)">{{connection.conn_name}}({{connection.user}}@{{connection.server}})</em>
                </span>
                &nbsp;&nbsp;&nbsp;
                <i class="pull right glyphicon glyphicon-remove" ng-click="sendDelData(connection.conn_name,connection.server)" style="cursor:pointer" data-toggle="modal" data-target="#delConfirmModal" ></i>
                <ul>
                    <li ng-repeat="database in connection.databases" class="parent_li">
                        <span>
                            <i ng-class='{true: "glyphicon glyphicon-plus", false: "glyphicon glyphicon-minus"}[!database.showcollections]' ng-click="database.showcollections=!database.showcollections"></i>
                            <a href="#/database/{{connection.conn_name}}/{{database.name}}">{{database.name}}</a>
                        </span>
                        <ul ng-show="database.showcollections">
                            <li ng-repeat=" collection in database.collNames">
                                <span>
                                    <i class="glyphicon glyphicon-file"></i>
                                    <a href="#/collection/{{connection.conn_name}}/{{database.name}}/{{collection.name}}" >{{collection.name}}</a>
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="delConfirmModal" data-backdrop='false'>
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    WARNING
                </div>
                <div class="media-body">
                    &nbsp;&nbsp;This operation will delete the connection : <br>
                    &nbsp;&nbsp;Connection name : <em style="color: red">{{deldata.conn_name}}</em><br>
                    &nbsp;&nbsp;Connection server : <em style="color: red">{{deldata.server}}</em><br>
                    &nbsp;&nbsp;Connection port : <em style="color: red">{{deldata.port}}</em><br>
                    &nbsp;&nbsp;Do you want to continue?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="deleteConnection()">Confirm</button>
                    <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addConnectionModal" role="dialog" aria-labelledby="myModalLabel" ng-controller="addConnecntionController">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>
                        New Connection
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="clear()">
                        <span aria-hidden="true">&times;</span></button>
                    </h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" method="post">
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-md-2">Name:</label>
                                <div class="col-md-9">
                                    <input class="form-control" ng-model="connection.conn_name">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-7">
                                    <label class="control-label col-md-3">Server:</label>
                                    <div class="col-md-9">
                                        <input class="form-control" ng-model="connection.server">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <label class="control-label col-md-3">Port:</label>
                                    <div class="col-md-6">
                                        <input class="form-control" ng-model="connection.port">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Authentication
                            <input type="checkbox" ng-model="connection.auth.sign">
                            &nbsp;&nbsp;&nbsp;
                            <!--Replica Set-->
                            <!--<input type="checkbox">-->
                        </div>
                        <br/>
                        <div ng-show="connection.auth.sign">
                            <div class="form-group" >
                                <div class="row">
                                    <label class="control-label col-md-3">Database:</label>
                                    <div class="col-md-7">
                                        <input class="form-control" ng-model="connection.auth.db">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" >
                                <div class="row">
                                    <label class="control-label col-md-3">User Name:</label>
                                    <div class="col-md-7">
                                        <input class="form-control" ng-model="connection.auth.user">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" >
                                <div class="row">
                                    <label class="control-label col-md-3">Password:</label>
                                    <div class="col-md-7">
                                        <input type="password" ng-if="!isEyeOpen" ng-model="connection.auth.password" class="form-control">
                                        <input type="text" ng-if="isEyeOpen" ng-model="connection.auth.password" class="form-control">
                                    </div>
                                    <label class="control-label">
                                        <i class="glyphicon" ng-class="{'glyphicon-eye-open':isEyeOpen,'glyphicon-eye-close':!isEyeOpen}" ng-click="isEyeOpen = !isEyeOpen" style="cursor:pointer"></i>
                                        <!--<a href="" class="glyphicon glyphicon-eye-close"></a>-->
                                    </label>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" ng-click="testConnection()">Test Connection</button>
                    <button class="btn btn-default" type="button" ng-click="saveConnection()">Save</button>
                    <button class="btn btn-default" type="button" data-dismiss="modal" ng-click="clear()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>