<div ng-controller="treeController">
    <nav class="navbar navbar-default" >
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    Databases
                </a>
            </div>
            <a class="navbar-brand pull-right" href="" data-toggle="modal" data-target="#addConnectionModal">
                <span class="right">
                    <i class="glyphicon glyphicon-plus"></i>
                </span>
            </a>
        </div>
    </nav>
    <div class="tree well" style="height: 700px;overflow:auto;">
        <ul>
            <li ng-repeat="connection in connectionList" class="parent_li">
                <span title="{{connection.user}}@{{connection.server}}">
                    <em ng-click="redirect(connection.conn_name)">{{connection.conn_name}}({{connection.user}}@{{connection.server}})</em>
                </span>
                &nbsp;&nbsp;&nbsp;
                <i class="pull right glyphicon glyphicon-remove" ng-click="sendDelData(connection.conn_name,connection.server)" style="cursor:pointer" data-toggle="modal" data-target="#delConfirmModal" ></i>
                <ul>
                    <li ng-repeat="database in connection.databases" class="parent_li">
                        <span>
                            <i ng-class='{true: "glyphicon glyphicon-plus", false: "glyphicon glyphicon-minus"}[!database.showcollections]' ng-click="database.showcollections=!database.showcollections"></i>
                            <a href="#/database/{{connection.conn_name}}/{{database.name}}">{{database.name}}</a>
                        </span>
                        <ul ng-show="database.showcollections">
                            <li ng-repeat=" collection in database.collNames">
                                <span>
                                    <i class="glyphicon glyphicon-file"></i>
                                    <a href="#/collection/{{connection.conn_name}}/{{database.name}}/{{collection.name}}" >{{collection.name}}</a>
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="delConfirmModal" data-backdrop='false'>
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    WARNING
                </div>
                <div class="media-body">
                    &nbsp;&nbsp;This operation will delete the connection : <br>
                    &nbsp;&nbsp;Connection name : <em style="color: red">{{deldata.conn_name}}</em><br>
                    &nbsp;&nbsp;Connection server : <em style="color: red">{{deldata.server}}</em><br>
                    &nbsp;&nbsp;Connection port : <em style="color: red">{{deldata.port}}</em><br>
                    &nbsp;&nbsp;Do you want to continue?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="deleteConnection()">Confirm</button>
                    <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <add-controller-modal></add-controller-modal>
</div>