<div class="row" ng-controller="adminController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>
                Admin
            </h2>
        </div>
        <div class="panel-body">
            <div class="col-md-8">
                <a class="btn btn-success" href="#/admin/profile">
                    Check System Profile
                </a>
                <a class="btn btn-success" href="#/admin/currentop">
                    Check Current Operation
                </a>
            </div>
            <br/>
            <hr/>

            <!--<div class="col-md-8">-->
                <!--<a class="btn btn-info" href="#/admin/daily">-->
                    <!--Set Daily Commands-->
                <!--</a>-->
            <!--</div>-->
            <!--<br/>-->
            <!--<hr/>-->

            <div class="col-md-12">
                <a class="btn btn-primary" data-toggle="modal" ng-click="show_upload()" data-target="#uploadModal" href="">
                    Upload Js File
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary" href="#/admin/checkfile">
                    Command Js File
                </a>
            </div>
            <hr/>
        </div>
    </div>
</div>
<div>
    <upload-file></upload-file>
</div>