<div class="row" ng-controller="commandController">
    <div class="panel panel-info">
        <div class="panel-heading">
            Command JS File
            <div >
                <label>
                    JS File Name : {{filename}}
                </label>
            </div>
            <div class="row">
                <label class="control-label col-md-2">Connection:</label>
                <div class="col-md-3 dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{connection}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="" ng-repeat="connection in connectionList" ng-click="change_conn(connection)">{{connection.conn_name}}</a></li>
                    </ul>
                </div>
                <label class="control-label col-md-2">Database:</label>
                <div class="col-md-3 dropdown">
                    <button class="btn btn-success dropdown-toggle" ng-disabled='!enableDb'  type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{db}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a href="" ng-repeat="dbname in dblist" ng-click="change_db(dbname.name)">{{dbname.name}}</a></li>
                    </ul>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary" ng-click="command()">Command</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div>
                <textarea  style="width:100%;resize: none;" rows="30" readonly>{{filedata}}</textarea>
            </div>
        </div>
    </div>
</div>