<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            <span ng-click="show_query = !show_query" style="cursor:pointer" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Query</span>
            <i ng-click="show_query = !show_query" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="cursor:pointer"
               ng-class="{true:'pull-right glyphicon glyphicon-collapse-down',false:'pull-right glyphicon glyphicon-collapse-up'}[!show_query]">
                <!--<span ng-hide="show_query" class="pull-right glyphicon glyphicon-collapse-down"></span>-->
                <!--<span ng-show="show_query" class="pull-right glyphicon glyphicon-collapse-up"></span>-->
            </i>
        </h4>
    </div>
    <div class="panel-body collapse" id="collapseExample">
        <pre>Query {{dbName}}: db.{{collName}}.find(<span ng-if="findTmp.query">{<em style="color: red">{{findTmp.query}}</em>}</span><span ng-if="findTmp.fields">,{<em style="color: red">{{findTmp.fields}}</em>}</span>)<span ng-if="findTmp.sort">.sort({<em style="color: red">{{findTmp.sort}}</em>})</span>;</pre>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-md-2">Query:</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="findTmp.query">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-md-2">Fields:</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="findTmp.fields">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-md-2">Sort:</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="findTmp.sort">
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary" ng-click="submit()">submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
