<div class="row" ng-controller="collviewController">
    <!--<label ng-show="!collectionlist">NoList</label>-->
    <!--<table class="table table-hover table-bordered">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th> DataBase</th>-->
            <!--<th> ....</th>-->
            <!--<th> ....</th>-->
            <!--<th> ....</th>-->
            <!--<th> 操作</th>-->

        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr ng-repeat="item in collectionlist" >-->
            <!--<td>{{item.name}}</td>-->
            <!--<td>....</td>-->
            <!--<td>....</td>-->
            <!--<td>....</td>-->
            <!--&lt;!&ndash;<td>{{item.category.name}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{item.pv}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td><a href="#/movie/detal/{{item._id}}">查看</a></td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td><a href="#/movie/update/{{item._id}}">修改</a></td>&ndash;&gt;-->
            <!--<td>-->
                <!--<button type="button" ng-click="" class="btn btn-danger del">删除</button>-->
            <!--</td>-->
        <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->
    <!--<pagination itemsList=movielist pagesize="5" url="#/movie/list"></pagination>-->
    <!--<div >-->
        <!--<li ng-repeat="document in documents">{{document}}</li>-->

    <!--</div>-->

    <div ng-repeat="document in documents">
        <textarea ng-click="getfield(document._id)" style="width:100%;resize: none;" rows="10" readonly>{{document | ToJson}}</textarea>
        <hr/>
    </div>

    <pagination_ pagination-name=documents pagesize="5" url="#/collection" url-att1-name="dbName" url-att2-name="collName"></pagination_>
    <!--<div>-->
        <!--{{documents}}-->
    <!--</div>-->
    <!--<span ng-bind="documents"></span>-->
</div>