<div class="row" ng-controller="newtaskController">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>
                New Daily Task
                <a class="pull-right" style="color: white" href="#/admin/daily">List</a>
            </h4>


        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs">

                <li role="presentation" ng-class='{true: "active", false: "inactive"}[tasktype=="hourly"]'><a href="" ng-click="hourly()">Hourly Task</a></li>
                <li role="presentation" ng-class='{true: "active", false: "inactive"}[tasktype=="daily"]'><a href="" ng-click="daily()">Daily Task</a></li>
                <li role="presentation" ng-class='{true: "active", false: "inactive"}[tasktype=="weekly"]'><a href="" ng-click="weekly()">Weekly Task</a></li>
                <li role="presentation" ng-class='{true: "active", false: "inactive"}[tasktype=="monthly"]'><a href="" ng-click="monthly()">monthly Task</a></li>
                <li role="presentation" ng-class='{true: "active", false: "inactive"}[tasktype=="yearly"]'><a href="" ng-click="yearly()">yearly Task</a></li>
            </ul>
            <hr/>

            <monthlytask ng-if='tasktype=="monthly"'></monthlytask>

            <hourlytask ng-if='tasktype=="hourly"'></hourlytask>

            <yearlytask ng-if='tasktype=="yearly"'></yearlytask>

            <dailytask ng-if='tasktype=="daily"'></dailytask>

            <weeklytask ng-if='tasktype=="weekly"'></weeklytask>

        </div>
    </div>
</div>
